/* 
z-index values
  .blk__pj__img     10
  .blk__pj__title   11
  .btn-exp          12
  .nb               100
*/


// Colors
$zircon: #E5E8E8;
$zircon-mono: #B9C1C1;
$ebony: #0A0708;
$spearmint: #2E765E;
$kellygreen: #B1D8B7;


$nev: rgb(247, 242, 242);

$cream: #FAE8E0;
$color-test: #B6E2D3;
$yellowgreen: yellowgreen;
$blackpink: pink;
