.sb-head {
  display: flex;
  font-size: 2.5rem;
  list-style-type: none;
  justify-content: center;
}

.sb-head a {
  font-family: 'gilroy-bold';
  color: #E5E8E8;
  align-items: center;
  text-decoration: none;
}

.sb-head span {
  font-size: 2.2rem;
  color: #4E545C;
  margin: 0 0.3rem;
}
