.sb-icon-ctn {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.sb-item-base {
  position: relative;
  left: 1rem;
}

.sb-icon {
  @extend .sb-item-base;
  color: #000401;
  width: 3.8rem;
  height: auto;
}

.sb-icon-name {
  @extend .sb-item-base;
  margin: 0.3rem 0 0 0.3rem;
  font-size: 1.2rem;
  font-family: 'gilroy-bold';
}